<mat-card class="card-cdd">
  <form (ngSubmit)="pesquisar()" [formGroup]="formulario">
    <mat-form-field class="search-field" appearance="fill">
      <mat-label>Procurar</mat-label>
      <input matInput type="text" formControlName="query" >
      <button type="submit" matSuffix mat-icon-button aria-label="Clear" >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div [class.hide]="hide" class="resultSearch" *ngIf="result$ | async as result">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Resultado</mat-card-title>
        <!-- <mat-icon>close</mat-icon> -->
        <div class="example-button-container">
          <button (click)="hider()" mat-mini-fab >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <div class="resultado">
        <div class="icons">
          <p class="head">Ícones CDD</p>
          <button class="iconeCdd" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
            <mat-icon>{{ result._idGenero | pipes}}</mat-icon>
          </button>
        </div>
        <div>
          <p class="head">Nome do Genero</p>
          <p>{{ result.nomeGenero }}</p>
        </div>
        <div>
          <p class="head">Fator Decimal</p>
          <p>{{ result.decimalGenero }}</p>
        </div>
        <div>
          <p class="head">Genero Livros</p>
          <p>{{ result.livrosGenero }}</p>
        </div>
      </div>
    </mat-card>
  </div>
    <div *ngIf="livrosGeneros$ | async as livrosGeneros; else loading;">
      <mat-toolbar color="accent">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Menu [CDD]</span>
        <span class="example-spacer"></span>
        <button (click)="liked()" mat-icon-button matTooltip="Deixe seu Like">
          <mat-icon [matBadge]="likesCounter" matBadgeColor="warn">favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Compartilhe">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
      <table mat-table [dataSource]="livrosGeneros" class="mat-elevation-z8">

        <!-- Icone Genero-->
        <ng-container matColumnDef="_idGenero">
          <th mat-header-cell *matHeaderCellDef>Ícones CDD</th>
          <td mat-cell *matCellDef="let generos">
            <div class="example-button-container">
              <button class="iconeCdd" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>{{ generos._idGenero | pipes}}</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Nome do Genero -->
        <ng-container matColumnDef="nomeGenero">
          <th mat-header-cell *matHeaderCellDef> Nome do Genero </th>
          <td mat-cell *matCellDef="let generos"> {{ generos.nomeGenero }} </td>
        </ng-container>

        <!-- Decimal Genero -->
        <ng-container matColumnDef="decimalGenero">
          <th mat-header-cell *matHeaderCellDef> Fator Decimal </th>
          <td mat-cell *matCellDef="let generos"> {{ generos.decimalGenero }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="visaoColunas"></tr>
        <tr mat-row *matRowDef="let row; columns: visaoColunas;"></tr>
      </table>
    </div>
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
</mat-card>
