<div class="form">
  <form>
    <img src="../../assets/imagens/logoBS4.png" alt="logo BookShelf">
    <h2>Recuperação de Senha</h2>
    <p>Insira seu email cadastrado para recuperar senha</p>
    <div class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Insira seu email</mat-label>
        <input matInput type="email" name="email" placeholder="pat@example.com" required>
      </mat-form-field>
    </div>
    <button mat-raised-button color="accent">Enviar</button>
  </form>
</div>
