<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <a class="logoMenu" routerLink="/"><img mat-card-image [src]="logoMenu" alt="Imagem do logo no menu" ></a>
    <ng-container class="text-center" *ngIf="usuario$ | async as usuario; ">
      <a routerLink="/tela-usuario" class="user-name" color="primary" matBadge="8" matBadgeColor="accent">
        {{usuario.displayName || usuario.email! | userNameFromEmail | titlecase }}
      </a>
    </ng-container>
    <mat-nav-list *ngFor="let itemMenu of itensMenu$ | async; index as i" class="btn-area">
      <a class="menu-button" mat-list-item *ngIf="itemMenu.hab === true" routerLink="{{itemMenu.linkMenu}}" routerLinkActive="selected">
        <span>{{itemMenu.labelMenu}}</span>
        <!-- <svg width="15px" height="10px" viewBox="0 0 13 10">
    <path d="M1,5 L11,5"></path>
    <polyline points="8 1 12 5 8 9"></polyline>
  </svg> -->
      </a>
      <!-- <mat-divider></mat-divider> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="{{toolbarColor}}">
      <div class="linksToolbar">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Menu BookShelf Lateral">menu</mat-icon>
        </button>
        <a routerLink="/"><img mat-card-sm-image [width]="lIcone" [height]="aIcone" [src]="iconeGeral"></a>
      </div>
      <button mat-button (click)="changeColor()" class="change-color" >
        <span class="material-icons">cached</span>
        <span class="text">Alterar cor</span>
      </button>
      <ng-container *ngIf="usuario$ | async as usuario; else botaoLogin">
        <button class="button dropdownMenu" mat-raised-button color="primary" [matMenuTriggerFor]="usuarioMenu">
          <mat-icon class="mat-18 userIcon">local_library</mat-icon>
          <span class="username">{{usuario.displayName|| usuario.email}}</span>
          <mat-icon>expand_more</mat-icon>
        </button>
      </ng-container>
      <ng-template #botaoLogin>
        <button  class="button" mat-raised-button color="primary" (click)="abrirLogin('Tela de Login')">
          <mat-icon class="mat-18">login</mat-icon>
          LOGIN
        </button>
      </ng-template>
    </mat-toolbar>
    <mat-menu  #usuarioMenu="matMenu">
      <a style="display: flex; justify-content: space-between; align-items: center; color: black;" mat-menu-item routerLink="/tela-usuario">
        Perfil<mat-icon class="mat-18">account_circle</mat-icon>
      </a>
      <a style="display: flex; justify-content: space-between; align-items: center; color: black;" mat-menu-item routerLink="/ajuda">
        Ajuda<mat-icon class="mat-18">help</mat-icon>
      </a>
      <button style="display: flex; justify-content: space-between; align-items: center; color: black;" mat-menu-item (click)="sairUsuario()">
        Sair<mat-icon class="mat-18">logout</mat-icon>
      </button>
    </mat-menu>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
