h1 {
  font-weight: bold;
  font-size: 1.8em;
  color: #7e56c2;
  text-align: center;
  margin: 20px auto;
}

.card {
  margin: auto;
  margin-bottom: 15px;
  width: 90%;
  display: flex;
}
.left-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  margin-left: 5px;
  width: 150px;
  height: 200px;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.right-container {
  margin-left: 50px;
}
