h1 {
  font-weight: bold;
  font-size: 1.8em;
  color: #7e56c2;
  text-align: center;
  margin: 20px auto;
}
img{
  height: 75px;
  margin: 5px 0;
}
table {
  width: 100%;
  th{
    color: white;
    background-color: #7e56c2;
    font-size: 15px;
  }
  img{
    border: 1px solid black;
    margin-right: 10px;
  }
}
.loading-spinner{
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.card-mv{
  margin: 30px auto;
  max-width: 920px;
}
