h2{
  font-weight: bold;
  font-size: 1.8em;
  color: #7E56C2;
  text-align: center;
  margin: 20px 0;
}
.card-mv{
  margin: 30px auto;
  max-width: 920px;
}
.mat-card>div{
  overflow-x: auto;
}

table {
  width: 100%;
  th{
    color: white;
    background-color: #7e56c2;
    font-size: 15px;
  }
  img{
    border: 1px solid black;
    margin-right: 10px;
  }
}

.capas{
  margin-top: 6px;
  width: 55px;
  height: 80px;
}

.mat-cell{
  padding: 0 10px;
}

.mat-column-categoria{
  width: 108px;
}

.mat-column-dataPublicacao{
  width: 50px;
  padding-right: 20px;
}


.loading-spinner{
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
