.content {
  padding: 20px 40px 40px 40px;
  line-height: 2em;
}

.mat-h1{
  font-weight: bold;
  font-size: 1.8em;
  color: #7E56C2;
  text-align: center;
  margin-bottom: 40px;
}

.mb {
  margin-bottom: 30px;
}

.titles {
  padding-left: 10px;
}
