.grid-container {
  margin: 20px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.special-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.special-card-titles {
  text-align: left;
  line-height: 1.9em;
}

.special-card-content {
  text-align: justify;
  line-height: 1.8em;
  margin-left: 30px;
}

.mat-h1{
  font-weight: bold;
  font-size: 1.8em;
  color: #7E56C2;
  text-align: center;
}

.example-header-image {
  width: 90px;
  height: 90px;
  background-image: url('../../assets/imagens/logoBS4.png');
  background-size: cover;
  margin-bottom: 1em;

}

.mat-divider {
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #c0a7ec;
}

.mat-card-title{
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.mat-card-image {
  width: 200px;
  height: 120px;
  background-size: cover;
}

#img{
  margin: 0.5em;
  display: flex;
  justify-content: left;
 }

 #listaSaga {
  margin: 1em;
  display: flex;
  justify-content: right;
 }

 img {
  border: 2px;
  border-style: hidden;
  border-color: #c0a7ec;
 }
