.container {
  margin: 20px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.mat-h1{
  font-weight: bold;
  font-size: 1.8em;
  color: #7E56C2;
  text-align: center;
}

form{
  display: flex;
  justify-content: end;
  align-items: center;

  .search-field {
    width: 250px;
  }
}

.resultSearch{
  width: 450px;
  margin: 20px auto;

  .mat-card-header{
    display: flex;
    justify-content: space-between;

    .mat-card-title {
      color: #7E56C2;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

@media only screen  and(max-width: 962px){
  .container {
    max-width: 700px;
  }
}

@media only screen  and(max-width: 768px){
  .container {
    max-width: 600px;
  }
}

@media only screen  and(max-width: 620px){
  .container {
    max-width: 450px;
  }
  form{
    display: flex;
    justify-content: center;
    align-items: center;

    .search-field {
      width: 100%;
    }
  }
}

.hide{
  display: none;
}

.mat-card {
  margin-bottom: 50px;
}

.card-titles {
  text-align: left;
  line-height: 1.9em;
  margin-left: 118px;
  margin-bottom: 22px;
}

.card-content {
  text-align: justify;
  line-height: 1.8em;
  margin-left: 40px;
}

.example-header-image {
  width: 90px;
  height: 90px;
  background-image: url('../../assets/imagens/logoBS4.png');
  background-size: cover;
  position: absolute;
  left: 20px;
  top: 10px;
}

.mat-divider {
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #c0a7ec;
}

.mat-card-title{
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

#img {
  margin: 0.5em;
  display: flex;
  justify-content: left;
}

#listaSaga {
  margin: 1em;
  display: flex;
  justify-content: right;
}

img {
  border: 2px;
  border-style: hidden;
  border-color: #c0a7ec;
  max-width: 120px;
  height: 120px;
}

.mat-list {
  margin-bottom: 20px;
}


