mat-grid-list{
  button{
    margin: 10px;
  }
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
}
mat-form-field{
  margin: 1%;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.card-cadastro{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
}

.mat-card:first-child{
  width: 90%;

  .mat-card-header{
    flex-direction: column;
  }

  img{
    width: 100%;
  }
}



p{
  text-align: center;
}

.jc-center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.jc-ev{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

button{
  margin: 0 10px;
  padding: 0 10px;
}
legend{
  padding: 10px;
}

