<mat-card class="card-cadastro">
  <mat-card-header>
    <img mat-card-image src="../../assets/imagens/cover2.png" class='img'>
  </mat-card-header>
  <mat-stepper [linear]="isLinear" #stepper >
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Nome & E-mail</ng-template>
        <div class='jc-center'>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              type="text"
              matInput
              placeholder="Insira seu nome"
              formControlName="firstCtrl"
              [(ngModel)]="clientName"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input
              type="email"
              matInput
              placeholder="Insira seu E-mail"
              formControlName="firstCtrl"
              [(ngModel)]="clientEmail"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Senha & Confirmação " >
      <form [formGroup]="secondFormGroup" class='jc-center'>
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input
          type="password"
            matInput
            formControlName="secondCtrl"
            [(ngModel)]="clienteSenha"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirmar Senha</mat-label>
          <input
          type="password"
            matInput
            formControlName="secondCtrl"
          [(ngModel)]="clienteConfirmSenha"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Deseja realizar o cadastro ?</p>
      <div class='jc-center'>
        <button button mat-raised-button color="accent" (click)="enviaCadastro()">Enviar</button>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
