.content {
  padding: 20px 40px 40px 40px;
  line-height: 2em;
}

.mat-h1{
  font-weight: bold;
  font-size: 1.8em;
  color: #7E56C2;
  text-align: center;
  margin-bottom: 40px;
}

//Imagem Logo avatar-card
.example-header-image {
  width: 90px;
  height: 90px;
  background-image: url('../../assets/imagens/logoBS4.png');
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 2px;
}

.mb {
  margin-bottom: 30px;
}

.titles {
  padding-left: 38px;
}

.mat-divider {
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #c0a7ec;
}

.mat-card-image {
  width: 250px;
  height: 200px;
  background-size: cover;
}

#img{
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
 }
