<div class="grid-container">
  <h1 class="mat-h1">Biblioteconomia</h1>
  <mat-grid-list cols="2" rowHeight="320px">
    <mat-grid-tile *ngFor="let cardBiblioteconomia of cardsBiblioteconomia$ | async" [colspan]="cardBiblioteconomia.cols" [rowspan]="cardBiblioteconomia.rows">
      <mat-card class="special-card">
        <mat-card-header class="special-card-titles">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{cardBiblioteconomia.titulo}}</mat-card-title>
          <mat-card-subtitle>{{cardBiblioteconomia.autor}} | {{cardBiblioteconomia.data}}</mat-card-subtitle>
        </mat-card-header>
        <div id="img"><img mat-card-image [src]="cardBiblioteconomia.img" [alt]="cardBiblioteconomia.titulo"></div>
        <mat-card-content class="special-card-content">
          <div>{{cardBiblioteconomia.resumo}}</div>
        </mat-card-content>
        <mat-nav-list>
          <mat-list-item *ngFor="let link of cardBiblioteconomia.links">
            <a matLine [href]="link.ref" target="_blank">{{ link.texto }}</a>
            <button mat-icon-button>
              <mat-icon>info</mat-icon>
            </button>
            <mat-divider inset></mat-divider>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
