.mat-h1{
  font-weight: bold;
  font-size: 1.8em;
  color: #7E56C2;
}

//Imagem Logo avatar-card
.example-header-image {
  width: 90px;
  height: 90px;
  background-image: url('../../assets/imagens/logoBS4.png');
  background-size: cover;
  position: absolute;
  top: -8px;
  left: 2px;
}

//Linha do <mat-divider>
.mat-divider {
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #c0a7ec;
}

//Spinner
.loading-spinner{
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.titles {
  padding-left: 38px;
}

.content {
  padding: 40px;
}

.content2 {
  padding: 40px 40px 0px 40px;
}

.contentb > mat-card {
  margin-bottom: 16px;
}




