<div class="content2">
<!--Form Pesquisar-->
<form (ngSubmit)="pesquisar()" [formGroup]="formulario">
  <mat-form-field class="search-field" appearance="fill">
    <mat-label>Pesquisar</mat-label>
    <input matInput type="text" formControlName="query">
    <button type="submit" matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>
<div [class.hide]="hide" class="resultSearch" *ngIf="result$ | async as result">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Resultado</mat-card-title>
      <div class="example-button-container">
        <button (click)="hider()" mat-mini-fab>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <div class="resultado">
      <div class="content">
        <div *ngIf=" result$ | async as result">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <div class="titles">
                <mat-card-title>{{result.titulo}}</mat-card-title>
                <mat-card-subtitle>{{result.subtitulo}}</mat-card-subtitle>
              </div>
            </mat-card-header>
            <img mat-card-image [src]="result.img" [alt]="result.titulo">
            <mat-card-content class="dashboard-card-content">
              <div>{{result.conteudo}}</div>
            </mat-card-content>
            <mat-nav-list>
              <mat-list-item *ngFor="let link of result.link">
                <a target="_blank" matLine [href]="link.ref">{{ link.texto }}</a>
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
                <mat-divider inset></mat-divider>
              </mat-list-item>
            </mat-nav-list>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<!--Fim Forms Pesquisar-->

<div *ngIf=" main$ | async as main; else loading;">
  <h1 class="mat-h1" *ngIf="usuario$ | async as usuario ;else loading;">Olá, {{usuario.displayName}} seja bem-vindo(a)!</h1>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" *ngFor="let unique of main$ | async">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <div class="titles">
              <mat-card-title>{{unique.titulo}}</mat-card-title>
              <mat-card-subtitle>{{unique.subtitulo}}</mat-card-subtitle>
            </div>
          </mat-card-header>
          <img mat-card-image [src]="unique.img" [alt]="unique.titulo">
          <mat-card-content class="dashboard-card-content">
            <div>{{unique.conteudo}}</div>
          </mat-card-content>
          <mat-nav-list>
            <mat-list-item *ngFor="let link of unique.link" [@alternando]="unique.state" class="expandable-content">
              <a matLine target="_blank" [href]="link.ref">{{ link.texto }}</a>
              <button mat-icon-button>
                  <mat-icon>info</mat-icon>
              </button>
              <mat-divider inset></mat-divider>
            </mat-list-item>
            <button mat-icon-button (click)="unique.state === 'expanded' ? unique.state = 'collapsed' : unique.state = 'expanded'">
              <mat-icon *ngIf="unique.state === 'expanded'">keyboard_double_arrow_up</mat-icon>
              <mat-icon *ngIf="unique.state === 'collapsed'">keyboard_double_arrow_down</mat-icon>
          </button>
          </mat-nav-list>
        </mat-card>
      </div>
    </div>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="30px grid">
    <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" *ngFor="let card of cards$ | async">
      <mat-card class="mb">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <div class="titles">
            <mat-card-title>{{card.titulo}}</mat-card-title>
            <mat-card-subtitle>{{card.subtitulo}}</mat-card-subtitle>
          </div>
        </mat-card-header>
        <img mat-card-image [src]="card.img" [alt]="card.titulo">
        <mat-card-content class="dashboard-card-content">
          <div>{{card.conteudo}}</div>
        </mat-card-content>
        <mat-nav-list>
          <mat-list-item *ngFor="let link of card.link" [@alternando]="card.state" class="expandable-content">
            <a target="_blank" matLine [href]="link.ref">{{ link.texto }}</a>
            <button mat-icon-button>
                <mat-icon>info</mat-icon>
            </button>
            <mat-divider inset></mat-divider>
          </mat-list-item>
          <button mat-icon-button (click)="card.state === 'expanded' ? card.state = 'collapsed' : card.state = 'expanded'">
            <mat-icon *ngIf="card.state === 'expanded'">keyboard_double_arrow_up</mat-icon>
            <mat-icon *ngIf="card.state === 'collapsed'">keyboard_double_arrow_down</mat-icon>
        </button>
        </mat-nav-list>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>




