.card {
  border-radius: 0px 0px 20px 20px;
  max-width: 450px;
  margin: 140px auto;
  background-size: 230px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100px;
  background-color: rgb(69, 67, 72);
}

.position {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: -52px;
  left: 0px;
  border-radius: 20px 20px 0px 0px;
  width: 95.9%;
  padding: 10px;
  color: white;
  background-color: rgb(105, 55, 187);
}

.content {
  padding: 15px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.border {
  display: flex;
  word-break: break-all;
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px 1.3px 10px;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right{
  margin: 10px;
  width: 180px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mt {
  margin-top: 10px;
}

span {
  color: rgb(100, 60, 165);
}

@media only screen and(max-width: 510px) {
  .border{
    flex-wrap: wrap;
  }
  .right{
    margin: 0 auto;
  }
}
