<mat-card class="card">
  <h2 class="position">Informações do Usuário</h2>
  <mat-card-content class="content" *ngIf="usuario$ | async as usuario">
    <div class="border">
      <div class="left">
        <div class="">
          <p><span>Nome:</span> {{usuario['name']}}</p>
        </div>
        <div class="mt">
          <p><span>Chave:</span> {{usuario['uid']}}</p>
        </div>
        <div class="mt">
          <p><span>E-mail:</span> {{usuario['email']}}</p>
        </div>
      </div>
      <div class="right">
        <div [ngStyle]="{'background-image': 'url(' + usuario['photo'] + ')'}" class="profileImg">
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
