.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.example-card {
  max-width: 640px;
}
.example-header-image {
  background-image: url('../../assets/imagens/ShelfBook.png');
  background-size: cover;
}


mat-card-footer{
  button{
    margin: 0.3rem;
  }
  margin: auto;

}

.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.helpers {
  span{
    display: block;
    margin: 10px 0;
  }
  a{
    color: #7e56c2;
    text-decoration: underline;
    cursor: pointer;
  }
}


.loginGoogle{
  margin: 20px auto;

  button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;

    img{
      margin-right: 15px;
      width: 35px;
    }
  }
}
