.mat-dialog-title{
  font-weight: bold;
  font-size: 1.5em;
  color: #7E56C2;
  text-align: center;
}

.mat-list-item{
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  font-size: 1.0em;
}

.mat-dialog-actions{
  display: flex;
  justify-content: right;
 }

 #titulos{
  margin: 0.5em;
  display: flex;
  justify-content: left;
  list-style: none;
 }


