<div class="grid-container">
  <h1 class="mat-h1">Menu de Ajuda</h1>
  <mat-grid-list cols="1" rowHeight="450">
    <mat-grid-tile *ngFor="let cardAjuda of cardAjuda$ |async" [colspan]="cardAjuda.cols" [rowspan]="cardAjuda.rows">
      <mat-card class="special-card">
        <mat-card-header class="special-card-titles">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{cardAjuda.titulo}}</mat-card-title>
          <!-- <mat-card-subtitle>{{cardAjuda.subtitulo}}</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content class="special-card-content">
          <div>{{cardAjuda.subtitulo}}</div>
        </mat-card-content>
        <mat-nav-list>
          <mat-list-item *ngFor="let passo of cardAjuda.descricao">
            <a matLine [href]="passo.ref"><mat-icon>{{ passo.ref| ajudaIcon}}</mat-icon>{{passo.texto}}</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
