h2{
  font-weight: bold;
  font-size: 1.8em;
  color: #7E56C2;
  text-align: center;
  margin: 20px 0;
}

.card-mv{
  margin: 30px auto;
  max-width: 995;
}

.mat-card>div{
  overflow-x: auto;
}

table {
  width: 100%;
  th{
    color: white;
    background-color: #7E56C2;
    font-size: 15px;
    align-items: center;
  }

  td{
    font-size: 17px;
  }
}

.mat-cell{
  padding: 0 10px;
}

.mat-column-descricao{
  width: 150px;
}

.mat-column-comCadastro{
  padding: 20px;
}

.iconeAjuda{
  margin: 0.5rem;
}

.loading-spinner{
  background-color: rgb(221,221,221);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
