<div class="content">
  <h1 class="mat-h1">Menu de Ajuda</h1>
  <div fxLayout="row wrap">
    <div fxFlex="100%" *ngFor="let cardAjuda of cardAjuda$ |async">
      <mat-card class="mb">
        <mat-card-header>
          <mat-card-title>{{cardAjuda.titulo}}</mat-card-title>
          <mat-card-subtitle>{{cardAjuda.subtitulo}}</mat-card-subtitle>
        </mat-card-header>
        <mat-nav-list>
          <mat-list-item *ngFor="let passo of cardAjuda.descricao" [@alternando]="cardAjuda.state" class="expandable-content">
            <p><mat-icon>{{ passo.ref| ajudaIcon}}</mat-icon><span>{{passo.texto}}</span></p>
          </mat-list-item>
          <button mat-icon-button (click)="cardAjuda.state === 'collapsed' ? cardAjuda.state = 'expanded' : cardAjuda.state = 'collapsed'">
            <mat-icon *ngIf="cardAjuda.state === 'expanded'">keyboard_double_arrow_up</mat-icon>
            <mat-icon *ngIf="cardAjuda.state === 'collapsed'">keyboard_double_arrow_down</mat-icon>
            <span class="passos">Ver Passo a Passo</span>
          </button>
        </mat-nav-list>
      </mat-card>
    </div>
  </div>
</div>
